@font-face {
  font-family: MyFont;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
* {
  box-sizing: border-box;
}
body {
  font-family: MyFont;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(234, 29%, 20%);
}
.card {
  display: flex;
  width: 800px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}
.right {
  width: 60%;
}
.left {
  width: 40%;
}
.left img {
  width: 100%;
}
ul {
  list-style-image: url(./assets/images/icon-success.svg);
  /* width: 30px; */
  /* list-style-position: ; */
}
li {
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
label {
  margin-bottom: 10px;
  color: black;
  font-size: small;
}
input {
  padding: 10px 20px;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsl(231, 7%, 60%);
}
button {
  font-family: inherit;
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(235, 18%, 26%);
}
button:hover {
  background-color: hsl(4, 100%, 67%);
  transition: all 1s;
}
h1 {
  font-size: 50px;
  color: hsl(234, 29%, 20%);
}
.hide {
  display: none;
}
.card-2 {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 5px;
}
.card-2 h1 {
  font-size: 40px;
}
.icon-card-2 {
  width: 50px;
}
.card-2 button {
  width: 100%;
}
@media (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    width: 95%;
    padding: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .card h1 {
    font-size: 30px;
  }
  .right {
    width: 100%;
    padding: 20px;
  }
  .left {
    width: 100%;
  }
  .left img {
    content: url("./assets/images/illustration-sign-up-mobile.svg");
  }
  form {
    width: 90%;
  }
  .card-2 {
    min-height: 100vh;
  }
}
