@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("./images/bg-intro-desktop.png");
  color: #fff;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  max-width: 1200px;
}
.top {
  margin: 40px;
}
input {
  padding: 15px 25px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1.3px solid hsl(246, 25%, 77%);
  outline: none;
  border-radius: 5.2px;
}
h2 {
  font-size: 35px;
}
.top p {
  max-width: 700px;
}
form {
  background: #fff;
  padding: 30px;
  position: relative;
  text-align: center;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.box-blue {
  background: hsl(248, 32%, 49%);
  padding: 10px;

  position: absolute;
  top: -53px;
  left: -10px;

  width: 100%;
}
button {
  padding: 15px 25px;
  text-align: center;
  width: 100%;
  background: hsl(154, 59%, 51%);
  font-size: 15px;
  color: #fff;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  margin: 0 auto;
}

small {
  color: #333;
}
.form-control {
  position: relative;
}
form img {
  position: absolute;
  right: 20px;

  top: 10px;
  display: none;
}
.show {
  border: 1px solid hsl(0, 100%, 74%);
}
.green {
  border-color: hsl(154, 59%, 51%);
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .top p {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
  }
}
